@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Dancing+Script:wght@500&family=Lexend+Deca&family=Roboto:wght@500&family=Signika+Negative:wght@300;400;500&display=swap');

body {
    background-color: #FEF5AC;
}

#container {
    display: flex;
    flex-direction: column;
    border: 2px white solid;
    width: 560px;
    height: 540px;
    margin: 0 auto;
    margin-top: 50px;

}


#container-header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 30px;
    width: 410px;
    height: 70px;
    background-color: rgba(13, 204, 230, 0.384);
}

.container-header-letter {
    color: black;
    display: flex;
    flex-direction: column;
    font-size: medium;
    margin-left: 50px;
    margin-top: 2px;
    width: 90px;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 600;


}

#container-header-score {
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 60px;
    margin-left: 45%;
    margin-top: 5px;
    background-color: white;
    border-radius: 20px;
}

#score {
    color: black;
    font-family: 'Signika Negative', sans-serif;
    font-size: large;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 7px;
}

#header-score-table {
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    font-family: 'Signika Negative', sans-serif;
    font-size: 150%;
    font-weight: 600;
}

#container-header-result {
    width: 410px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
}

#header-result {
    color: red;
    font-family: 'Signika Negative', sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin: 0 auto;

}

#container-body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 40%;
    height: 220px;
    margin-top: 60px;
    border-radius: 300px;
    background-color: white;
}

.buttons {
    width: 60px;
    height: 60px;
    margin-top: 40px;
}

#button-of-rock {
    margin-top: 150px;
}

.turn {
    animation: turning 4s;
}

@keyframes turning {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}